In [ ]:
athletes = spark.read.format("csv").load("/mnt/tokyoolympic/athletes.csv")

In [ ]:
athletes = spark.read.format("csv").option("header","true").load("/mnt/tokyoolympic/athletes.csv")

In [ ]:
athletes.show()

In [ ]:
athletes = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolympic/raw-data/athletes.csv")
coaches = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolympic/raw-data/coaches.csv")
entriesgender = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolympic/raw-data/entriesgender.csv")
medals = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolympic/raw-data/medals.csv")
teams = spark.read.format("csv").option("header","true").option("inferSchema","true").load("/mnt/tokyoolympic/raw-data/teams.csv")

In [ ]:
coaches.show()

In [ ]:
coaches.printSchema() # Nothing wrong in the dataframe

In [ ]:
entriesgender.show()

In [ ]:
entriesgender.printSchema()

In [1]:
from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType, Doubletype, BooleanType, DateType

ImportError: cannot import name 'Doubletype' from 'pyspark.sql.types' (/Users/s3awagle/opt/anaconda3/lib/python3.9/site-packages/pyspark/sql/types.py)

In [ ]:
# We need to change the data type, so we can push the data quality
# forward to the analysts and scientists

entriesgender.withColumn("Female",col("Female").cast(IntegerType())\
                         .withColumn("Male",col("Male").cast(IntegerType())\
                         .withColumn("Total",col("Total").cast(IntegerType())

In [ ]:
entriesgender.printSchema() # gives you the type of data in 
# entriesgender dataframe

In [ ]:
medals.show()

In [ ]:
medals.printSchema()

In [ ]:
# Find the top countries with the highest number of gold medals

top_gold_medal_countries = medals.orderBy("Gold",ascending = False).select("team_countries","country").show()

In [ ]:
# Load transformed data to data warehouse or data lake

athletes.write.option("header","true").csv("/mnt/tokyoolympics/transformed-data/athletes")

In [ ]:
# Overwrite on storage file

athletes.write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympics/transformed-data/athletes")

athletes.repartition(3).write.mode("overwrite").option("header","true").csv("/mnt/tokyoolympics/transformed-data/athletes")